body {
    min-width: 500px;
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin: 20px;

}

textarea {
    width: 450px;
    height: 80px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }